display houses

<%#binding.pry%>

<%@user.houses.each do |house|%>
<ul>
  <li><a href="/houses/<%=house.id%>"><%=house.name%></a></li>
</ul>
<%end%>

<p><a href="/houses/new"> Create House</a></p>


<form action="/logout" method="POST">
  <input type="submit" name="logout" value="logout">
</form>
