<h3>Homes:</h3>
<%@user.houses.each do |house|%>
<ul>
  <li><a href="/houses/<%=house.id%>"><%=house.name%></a></li>
</ul>
<%end%>

<p><a href="/houses/new"> Add House</a></p>
<p><a href="/items/new"> Add Item</a></p>
<p><a href="/rooms/new"> Add Room</a></p>
