

<h3> House:</h3>
<p><a href="/houses/<%=@house.id%>/edit"><%=@house.name%></a></p>
<a href="/items/index">Show Items</a>

<form action="/houses/<%=@house.id%>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" name="Delete House" id="Delete House" Value="Delete House">
</form>
