body{
  margin-left: 20px;
  background-color: #cce6ff;
  padding-top: 70px;
}

#logout{
  width: 75px;
}

#home{
  width: 75px;
}
.display{
  display: inline-block;
}

form{
  font-size: 10px;
}

#flash{
  color: red;
}
.navbar{
  background-color: gray;
}
