
<h3>Log In Please</h3>
<form method="post" action="/login">
  <input type="email" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <input type="submit" id="submit">
</form>
<div id="flash">
  <% if flash.has?(:login_error) %>
    <h3 style="color:red;"><%= flash[:login_error] %></h3>
  <% end %>
</div>
