
<h3>Log In Please</h3>
<form method="post" action="/login">
  <input type="text" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <input type="submit" id="submit">
</form>
