list rooms
<%binding.pry%>
<%@user.rooms.each do |room|%>
<ul>
  <li><a href="/rooms/<%=room.id%>"><%=room.name%></a></li>
</ul>
<%end%>

<p><a href="/houses/new"> Create House</a></p>
<p><a href="/items/new"> Add Item</a></p>
<p><a href="/rooms/new"> Add Room</a></p>
