<h3>Create New Room</h3>
<%#binding.pry%>
<form action="/rooms/new" method="POST">
<p><input type="text" name="name" placeholder="name:" required="true"></p>
<% @user.houses.each do |house| %>
  <label><%= house.name %></label>
  <input type="radio" name="house_id" value="<%=house.id%>" required="true">
  <%end%>
<input type="submit" value="Create Room">
</form>
