
<h3> Edit Item </h3>
<form action="/items/<%=@item.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<p><input type="text" name="name" value="<%=@item.name%>" required="true"></p>
<input type="submit" value="Save" id="submit">
</form>
