
<h3>Create New Item</h3>
<form action="/items/new" method="POST">
<p>Name <input type="text" name="name" placeholder="name:" required="true"></p>

<% @user.rooms.each do |room| %>
  <label><%= room.name %></label>
  <input type="radio" name="room_id" value="<%=room.id%>" required="true">
  <%end%>
<input type="submit" value="Create Item">
</form>
