<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Inventory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <h3>Home Inventory</h3>
      </div>
      <%if !logged_in?%>
        <div class="col-sm-4">
          <h3>Welcome</h3>
        </div>

        <div class="col-sm-3">
          <div id="button" class="display">
            <form action="/login" method="GET">
              <input type="submit" name="login" value="login">
            </form>
          </div>
          <div id="button" class="display">
            <form action="/signup" method="GET">
              <input type="submit" name="SignUp" value="SignUp">
            </form>
          </div>
        </div>
      <%end%>

      <%if logged_in?%>
        <div class="col-sm-4">
          <h3>Inventory for: <%=current_user.name%></h3>
        </div>

        <div class="col-sm-3">
          <div id="button" class="display">
            <form action="/logout" method="POST">
              <input type="submit" name="logout" value="logout">
            </form>
          </div>
          <div id="button" class="display">
              <form action="/houses/index" method="POST">
              <input type="submit" name="Home" value="Home">
            </form>
          </div>
        </div>
      <%end%>
      </div>
    </div>
</nav>
<%=yield%>
  </body>
</html>
