<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Inventory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <h1>Home Inventory</h1>
    <%if logged_in?%>
    <form action="/logout" method="POST">
      <input type="submit" name="logout" value="logout">
    </form>
    <%end%>
<%=yield%>
  </body>
</html>
